.message {
    margin: 15px;
    margin-left: 5%;
    margin-right: 5%;
    color: #99adbb;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-row-gap: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px #e7e8ec;
}

.message:last-child {
    border: none;
}

.photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.name {
    color: #222;
}

div.pagination {
    height: 5em;
    position: relative;
    border-bottom: solid 1px #e7e8ec;
}

div.pagination div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

span {
    margin: 3px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}