.header {
    grid-area: h;
    background-color: #4872a3;
  }

.logo {
  background: url('../../logo.svg') no-repeat 50% / contain;
  width: 60px;
  height: 60px;
}

.loginBtn {
  
  color: aliceblue;
  padding: 10px 20px;
  background: rgb(69, 158, 81);
  border-radius: 5px;
}

.header_content {
  margin: 0 auto;
  height: 60px;
  width: 980px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logoutBtn {
  color: aliceblue;
  padding: 10px 18px;
  background: rgb(196, 47, 97);
  border-radius: 5px;
}

.loginDiv {
  justify-self: end;
}

.loginLogoutBtn {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  column-gap: 20px;
}