.nav {
    grid-area: n;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 150px;
  }

a {
  text-decoration: none;
  color: #99adbb;
}

a.active{
  color: #04b1f3;
}

.item {
  margin-bottom: 5px;
}