.item {
  color: #000;
  border-bottom: solid 1px #e7e8ec;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin-bottom: 5px;
  margin-left: 5px;
}

.item:last-child {
  border: none;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 10px;
}

.message {
  align-self: center;
}

.likes {
  align-self: end;
  margin-bottom: 5px;
}