h1 {
  margin: 0;
  padding: 0;
}

input {
	outline: none;
	border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body{
  background: #edeef0;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "h"
  "c";
  grid-template-rows: 60px;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.wrapper_container {
  margin: 0 auto;
  width: 980px;
  display: grid;
  grid-template-areas: 'n s';
  grid-template-columns: 2fr 10fr;
  column-gap: 10px;
  grid-area: c;
  border-radius: 5px;
}

.wrapper-content {
  border-radius: 5px;
  grid-area: s;
  background-color: #fff;
}





