body{
  background: #edeef0;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 80%;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.wrapper_content {
  grid-area: c;
  background-color: #fff;
  border-radius: 5px;
}





